:root {
    --clr-prime: #A752AA;
    --clr-sec: #70C02C;
    --clr-thrd: #FFCD00;
    --clr-white: #F2F2F2;
    --clr-blck: #0D0D0D;
    --ff-main: 'Pattaya';
    --ff-sec: 'Henny Penny';
    --ff-p: 'Roboto', 'sans-serif';
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-main);
    font-weight: 700;
}
p {
    font-family: var(--ff-p);
}
/* Carousel adjustments */
.carousel-inner .carousel-item {
    height: 700px;
}
.carousel-inner .carousel-item img {
    max-height: 100%;
    width: auto;
    object-fit: cover;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.15);
}
.carousel-caption h5 {
    font-size: 2rem;
    color: rgb(112,192,44);
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.carousel-caption p {
    font-size: 1rem;
    margin-bottom: 2px;
    font-style: italic;
}
/* Navbar */
.navbar-nav .nav-link {
    font-family: var(--ff-main);
    font-size: 1.8rem;
    margin-right: 2.5rem;
}
.navbar {
    background-image: url('/assets/imgs/navbarBG3.jpg');
    background-size: cover;
    background-blend-mode: soft-light;
    box-shadow: 0px 25px 20px -16px rgba(0, 0, 0, 0.4);
}
/* Navbar hover effect */
.navbar a {
    color: var(--clr-white);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 400ms;
}
.navbar a:hover {
    transform: scale(1.4);
    text-shadow: none;
    color: var(--clr-thrd);
}
/* class for gradient headers */
.gradient-text {
    background-image: linear-gradient(to right, var(--clr-thrd), var(--clr-prime), var(--clr-sec));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img-frame {
    display: inline-block;
    box-shadow: 6px 6px 12px 2px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
}
.img-frame img {
    display: block;
    width: 100%;
    height: auto;
}
.card-img-top {
    height: 200px;
    object-fit: contain;
}
/*Sponsers img inside the Modal */
.sponImg {
    border-radius: 10px;
    margin-right: 4px;
    box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.3);
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid black;
}
.footer-basic {
    background-image: url('/assets/imgs/navbarBG.jpg');
    background-size: cover;
    z-index: -1;

}
.copyright {
    color: rgb(195, 212, 195);
    font-weight: 600;
}
/* Form */
.form-design {
    background-image: url('/assets/imgs/formBG1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid gray;
}
/* Faq background image */
.faq-design {
    position: relative;
}
.faq-design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/imgs/faqBG.jpg');
    background-size: cover;
    border-radius: 40px;
    opacity: 0.45;
    z-index: -1;
}

/* Gallery Touchup's */
.gallPic img {
    height: 230px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 20px;
}
.gallPic .col {
    margin-bottom: 15px;
}
/* Small Screen size corrections */
@media (max-width: 576px){
    .gallPic .col {
        margin-bottom: 40px;
    }
    .equal-width {
        width: 100%;
    }
}
.video-gallery {
    position: relative;
    padding: 40px;
}
.video-gallery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/imgs/videoWrapper.jpg');
    background-size: cover;
    border-radius: 40px;
    opacity: 0.55;
    z-index: -1;
}
.video-item {
    border-radius: 20px;
    border: 1px solid black;
}
.list-unstyled li a i {
    color: var(--clr-white);
}
.list-unstyled li a i:hover {
    transform: scale(1.5);
    transition: all 500ms;
}
/* Quizzz */
.app-box {
    background-color: antiquewhite;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app-box h1 {
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;
}
.quiz h2 {
    font-style: 18px;
    color: var(--clr-prime);
    font-weight: 600;
}
.q-btn {
    background-color: #fff;
    font-size: 1.1rem;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    transition: all 300ms;
}
.q-btn:hover:not([disabled]) {
    background-color:darkslateblue;
    color: #fff;
}
.q-btn:disabled {
    cursor: no-drop;
}
#next-btn {
    background: darkblue;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: #9aeabc;
    color: red;
}
.incorrect {
    background-color: #f15d5d;
    color: #fff;
}